.contact-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #efefef;
}

body {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 45px auto 45px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

.contact-list {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: -1;
  background: #ddd;
  margin: 0;
  padding: 0;
  border-right: 1px solid #888;
}

.contact-list li {
  display: flex;
  list-style: none;
  padding: .5em;
  border-bottom: 1px solid #222;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #444;
  color: #efefef;
  border-bottom: 1px solid #888;
}

.header:first-of-type {
  border-right: 1px solid #888;
}


.header button,
input[type="submit"] {
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 10px;
  /* height: 20px; */
}

.cl-header {
  grid-row-start: 1;
  grid-row-end: 2;
}

.header h2 {
  margin: 10px;
  /* padding: 10px; */
  font-size: 1em;
}

.conversation-summary h3 {
  margin: 0;
  padding: 5px;
}

.timestamp {
  font-size: .75em;
  margin: 0;
  padding: 5px;
}

.h-contact {
  display: flex;
  align-self: left;
}

.message-pane {
  grid-column-start: 2;
  grid-column-end: -2;
  /* background-color: #bada55; */
}

.composer {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: -1;
  background: #eee;
  display: flex;
  align-items: center;
}

.composer input[type="text"] {
  width: 400px;
  flex-basis: auto;
  margin-left: 10px;
}